@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/MontserratLight.woff2') format('woff2'),
        url('../fonts/MontserratLight.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/MontserratRegular.woff2') format('woff2'),
        url('../fonts/MontserratRegular.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/MontserratMedium.woff2') format('woff2'),
        url('../fonts/MontserratMedium.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/MontserratBold.woff2') format('woff2'),
        url('../fonts/MontserratBold.woff') format('woff');
}

/*:root {
    --black: #000;
    --dark-gray: #333;
    --gray: #666;
    --light-gray: #e1e1e1;
    --white: #fff;
    --orange: #c93;
  } */

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, p {
    margin: 0;
}

img {
    max-width: 100%;
}

html {
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
}

section {
    margin-bottom: 50px;
}

.container {
    max-width: 1770px;
    margin: 0 auto 100px;
}

/* Heroes */

.heroes {
    padding-top: 30px;
    padding-bottom: 30px;
}

.heroes__panel {
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    align-items: center;
}

.heroes__image {
    max-width: 500px;
    margin-right: 30px;
}

.heroes__description {
    padding-top: 50px;
    padding-bottom: 50px;
}

.heroes__header {
    margin-bottom: 20px;
}

/* Channel */

.channel {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: azure;
}

.channel__panel {
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    align-items: center;
}

.channel__slider {
    max-width: 400px;
    margin-right: 45px;
}

.channel__description {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.channel__header {
    margin-bottom: 20px;
}

.channel__paragraph {
    margin-bottom: 25px;
}

/* Projects */

.projects {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: snow;
    text-align: center;
}